/* general styling */
* {
    font-family: "Raleway", serif;
  }
  
  .title {
    font-size: 75px;
    letter-spacing: 5px;
    color: rgb(66, 66, 66);
  }
  
  .body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  p {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  /* content layout */
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }
  
  .wallie-container {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
  }
  
  /* list styling */
  ol {
    text-align: left;
    font-size: 1.2rem;
  }
  
  /* dog image styling */
  #dog-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  .wallie-image {
    border-radius: 20%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  /* about the author styling */
  .about-the-author {
    font-weight: bold;
    font-size: 2rem;
    color: #00bcd4;
  }
  
  /* input field styling */
  #breed {
    padding: 10px;
    margin-top: 20px;
    width: 800px;
    height: 20px;
    border: none;
    border-radius: 50px;
    background-color: #f0f0f0;
    font-size: 1.2rem;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
  }
  
  #breed::placeholder {
    color: #737373ae;
  }
  
  #breed:hover {
    background-color: #eae9e9;
  }
  
  #breed:focus {
    outline: none;
    border: 2px solid #b6b6b6;
  }
  
  /* button styling */
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
  }
  
  button {
    padding: 12px 20px;
    border: none;
    border-radius: 100px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    color: white;
  }
  
  button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  #submit {
    background-color: #2db0ce;
    width: 200px;
  }
  
  #submit:hover {
    background-color: #00a2c6;
  }
  
  #random {
    animation-name: color-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: 200px;
  }
  
  @keyframes color-change {
    0% {
      background-color: red;
    }
    20% {
      background-color: rgb(253, 211, 0);
    }
    40% {
      background-color: green;
    }
    60% {
      background-color: blue;
    }
    80% {
      background-color: purple;
    }
    100% {
      background-color: red;
    }
  }